doctype html
head
  title= `${title}`
  // Import Google Icon Font
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
  // Import materialize.css
  link(type='text/css', rel='stylesheet', href='../css/materialize.min.css', media='screen,projection')
  // Import index.css
  link(type='text/css', rel='stylesheet', href='../css/index.css')
  // Let browser know website is optimized for mobile
  meta(name='viewport', content='width=device-width, initial-scale=1.0, viewport-fit=cover')
  // Let browser know website use utf-8 coding
  meta(http-equiv='content-type', content='text/html; charset=utf-8')
header.header
  nav.nav
    .nav-wrapper
      a.brand-logo#navtext Welcome #{name} #{lastname}
      a.sidenav-trigger(href='#', data-target='mobile-sidenav')
        i.material-icons menu
      ul.right.hide-on-med-and-down
        li
          a(href='/dashboard') Dashboard
  ul#mobile-sidenav.sidenav
    li
      a.sidenav-close(href='#')
        i.material-icons close
    li
      a(href='/dashboard') Dashboard
main.main
  .row
    .col.s10.push-s1.m8.push-m2.l6.push-l3
      .card
        #gradient.card-content
          h6#h6 Cancel Invoice
        .card-content
          .row
            form#cancelUserInvoiceForm.col.s12(method='post', action='/cancelinvoice')
              .row
                .input-field.col.s8
                  input.readonly(type='text', name='invoicenum', value= data_invoice_invoicenum, readonly)
                  label(for='invoicenum') Invoice Number
              .row
                .input-field.col.s8
                  input.readonly(type='text', name='name', value= data_invoice_name, readonly)
                  label(for='name') Name
              .row
                .input-field.col.s8
                  input.readonly(type='text', name='lastname', value= data_invoice_lastname, readonly)
                  label(for='lastname') Lastname
              .row
                .input-field.col.s8
                  input.readonly(type='text', name='email', value= data_invoice_email, readonly)
                  label(for='lastname') Email
              .row
                .input-field.col.s8
                  input.readonly(type='text', name='invoicesum', value= data_invoice_invoicesum, readonly)
                  label(for='invoicesum') Invoice Amount
        .card-action.right-align
          a.btn.waves-effect.waves-light.grey.darken-1(href='/dashboard')
            | Back
            i.material-icons.right undo
          button.btn.waves-effect.waves-light(type='submit', form='cancelUserInvoiceForm')
            | Confirm
            i.material-icons.right check_circle
// class="page-footer"
footer.footer
  nav.nav
    div#footerdiv
      p#footertext VFR Angerlohe Training Booking Tool
// JavaScript at end of body for optimized loading
script(type='text/javascript', src='../js/materialize.min.js')
script(type='text/javascript', src='../js/auth_admin_calls.js')
